* {
    margin: 0;
    padding: 0;
    background-color: #6c3d7b;
    font-family: 'Staatliches', cursive;
    color: #fff;
}

.container {
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

